body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(30, 26, 30);
    flex-wrap: nowrap;
}
/*header*/
header{
    background-color: rgb(80, 72, 80);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.innerheader{
    background-color: rgb(80, 72, 80);
    width: 350px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 0;
    
}
.innerheader a {
    /*font-size: clamp(14px, 2vw, 50px);*/
    /*font-size: 5rem;*/
    font-size: clamp(0px, 4vw, 25px);
    margin-right: 20px;
}
/*main (no way!)*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    
    margin: 0 auto;
}
/*text sizes and stuff*/
h1, h2, p, a{
    color:white;
    font-family: sans-serif;
    text-decoration: none;
}

h1{
    font-size: clamp(0px, 5vw, 170px);
}
/*Buttons*/
button{
    font-size: clamp(0px, 4vw, 25px);
}
.btn{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    width: 70vw;
    height: 10vw;
}
button{
    width: clamp(100px, 30%, 250px);
    height: clamp(40px, 70%, 80px);
    color: white;
    background-color: rgb(80, 72, 80);
    border: none;
    border-radius: 1vw;
    font-weight: bold;
    margin: 0px 5px;
    transition: 0.2s;
}
button:hover {
    background-color: rgb(131, 123, 134);
    text-decoration: underline;
}
/*Images*/
img{
    margin-bottom: 30px;
    border-radius: 2vw;
}
img:hover {
    width: 60vw;
}
.personBild img{
    width: 50vw;
    height: auto;
    display: block;
    margin: 1vw;
}
.personBild p {
    color: rgb(163, 163, 163);
}
/*Mobile adjustments*/
@media screen and (max-width: 400px) {
    
    .innerheader{
        font-size: 4vw;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;        
    }

}
